*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #4a4e69;
  --text-color: #000;
  --title-color: #f2e9e4;
  --div-background: #aec3b0;
}
header {
  text-align: center;
}
.title {
  color: var(--title-color);
  text-shadow: 2px 2px 4px var(--text-color);
  font-size: 3rem;
  margin: 1rem 0;
}
.title-description {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 15px;
}
#cart-container {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 30%;
  right: 0;
  background-color: var(--div-background);
  width: 200px;
  border-radius: 15px 0 0 15px;
  text-align: center;
  font-size: 1rem;
  padding: 5px 0;
}
.card-col {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.card-col:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px var(--background-color);
}
