* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --background-color-1: #e5e5e5;
}
header {
  background-image: url("https://images.pexels.com/photos/9807283/pexels-photo-9807283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
i {
  font-size: 50px;
  font-weight: bold;
  color: var(--icon-color);
  margin-left: 20px;
}
.top-bar {
  background-color: #333;
  color: white;
  text-align: right;
  left: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 10px 10px 0 0;
}
.toggle-button {
  background-color: #333;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.sidenav {
  width: 0;
  border-radius: 10px 0 10px 10px;
  position: fixed;
  z-index: 1;
  top: 60px;
  right: 30px;
  background-color: var(--background-color-1);
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav a {
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: var(--icon-color);
}
.sidenav a.active {
  color: white;
  background-color: #575757;
}
.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}
h1 {
  font-size: 40px;
  text-align: center;
}
h1 span {
  color: #22577a;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}
h2 span {
  color: #ff7d00;
}
h3 {
  font-size: 22px;
  margin: 10px 0;
  text-align: center;
}
h3 span {
  color: #ff7d00;
}
.search-input {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
  margin-left: 25px;
  margin: -20px auto 0;
}
.search-input label.text {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 5px;
  background: #e8e8e8;
  width: fit-content;
}
.search-input input[type="text"].input {
  padding: 11px;
  font-size: 1rem;
  border: 2px solid #ff7d00;
  border-radius: 5px;
  background: var(--background-color-1);
}
.search-input input[type="text"].input:focus {
  outline: none;
}
.search-btn {
  margin: 5px 0;
  padding: 5px;
  background-color: #ffecd1;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.search-btn:active,
.search-btn:focus {
  background-color: #ff7d00;
}
.movies-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.movie-element {
  border-radius: 20px;
  box-shadow: 0 0 10px #bb3e03;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: auto;
}
.poster {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}
.detail {
  margin: 5px 0;
  font-size: 20px;
}

@media only screen and (max-width: 652px) {
  .sidenav {
    display: none;
  }
  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 924px) {
  .title-section {
    padding: 25px;
    display: flex;
  }
  h1,
  h2,
  h3 {
    text-align: left;
  }
  .search-input {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
    margin-left: 25px;
  }
  .search-input label.text {
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 5px;
    background: #e8e8e8;
    width: fit-content;
  }
  .search-input input[type="text"].input {
    padding: 11px;
    font-size: 1rem;
    border: 2px solid #ff7d00;
    border-radius: 5px;
    background: var(--background-color-1);
  }
  .search-input input[type="text"].input:focus {
    outline: none;
  }
  .search-btn {
    margin: 5px 0;
    padding: 5px;
    background-color: #ffecd1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  .search-btn:active,
  .search-btn:focus {
    background-color: #ff7d00;
  }
}
