* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fefae0;
  padding: 5px;
  text-align: center;
}
.bottom-div {
  width: 40%;
  margin: 0 auto;
  height: 3px;
  border-radius: 30%;
  background-color: #283618;
  margin-bottom: 10px;
}
.news-card{
  transition: transform .3s ease-in-out, box-shandow .3s ease-in-out;
}
.news-card:hover{
  transform: scale(1.005);
  box-shadow: 0 0 5px #0dcaf0;
}
.news-card img{
  height: 200px;
  object-fit: cover;
}
#news-container{
  display: flex;
  flex-direction: column;
}
#more-btn{
  align-self: center;
  margin-top: 20px;
}
